<a href="https://colab.research.google.com/github/Wansh619/GdscPrj1/blob/main/pr1GDSC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Prediction of ex-showroom price from our car_engage dataset**

## **importing important libraries**

In [7]:
import pandas as pd
import numpy as np
import matplotlib as plt

## **uploading data in our variable data**

In [8]:
data=pd.read_csv('cars_engage_2022.csv')

In [9]:
data

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,1271,Honda,City,Vx Mt Diesel,"Rs. 13,02,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1272,1272,Honda,City,Zx Mt Diesel,"Rs. 14,21,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1273,1273,Honda,City,Zx Cvt Petrol,"Rs. 14,31,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1274,1274,Honda,City,V Cvt Petrol,"Rs. 12,01,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1275,1275,Mitsubishi,Montero,3.2 At,"Rs. 68,62,560",3200 cc,4.0,4.0,AWD (All Wheel Drive),In-line,...,Yes,NaN,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN

# **splitting the data into data 2 and 3**

data 3= all the features

In [10]:
data3=data

# **DATA 3**

In [11]:
data3

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,1271,Honda,City,Vx Mt Diesel,"Rs. 13,02,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1272,1272,Honda,City,Zx Mt Diesel,"Rs. 14,21,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1273,1273,Honda,City,Zx Cvt Petrol,"Rs. 14,31,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1274,1274,Honda,City,V Cvt Petrol,"Rs. 12,01,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1275,1275,Mitsubishi,Montero,3.2 At,"Rs. 68,62,560",3200 cc,4.0,4.0,AWD (All Wheel Drive),In-line,...,Yes,NaN,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN

# ***putting 'unknown' missing values of catagorical columns ***

### **list of catagorical col label encoded columns and numerical data with units**

In [12]:
 catagory_col=['Make','Drivetrain',
               'Cylinder_Configuration','Emission_Norm',
               'Engine_Location','Fuel_Type','Fuel_System',
               'Body_Type','Front_Brakes','Rear_Brakes','Front_Suspension',
               'Rear_Suspension','Front_Tyre_&_Rim','Rear_Tyre_&_Rim','Power_Steering',
               'Power_Windows','Power_Seats','Keyless_Entry','Power','Torque','Odometer',
               'Speedometer','Tachometer','Tripmeter','Seats_Material','Type','Wheels_Size',
               'Start_/_Stop_Button','12v_Power_Outlet','Audiosystem','Aux-in_Compatibility',
               'Average_Fuel_Consumption','Basic_Warranty','Bluetooth','Boot-lid_Opener','CD_/_MP3_/_DVD_Player',
               'Central_Locking','Child_Safety_Locks','Clock','Cup_Holders','Distance_to_Empty',
               'Door_Pockets','Engine_Malfunction_Light','Extended_Warranty','FM_Radio','Fuel-lid_Opener',
               'Fuel_Gauge','Handbrake','Instrument_Console','Low_Fuel_Warning','Multifunction_Display',
               'Sun_Visor','Third_Row_AC_Vents','Ventilation_System','Drive_Modes',
               'Auto-Dimming_Rear-View_Mirror','Hill_Assist','Gear_Indicator',
               '3_Point_Seat-Belt_in_Middle_Rear_Seat','Ambient_Lightning',
               'Cargo/Boot_Lights','Drive_Modes','Engine_Immobilizer',
               'High_Speed_Alert_System','Lane_Watch_Camera/_Side_Mirror_Camera',
               'Passenger_Side_Seat-Belt_Reminder','Seat_Back_Pockets','Voice_Recognition',
               'Walk_Away_Auto_Car_Lock','ABS_(Anti-lock_Braking_System)','Headlight_Reminder','Adjustable_Headrests',
               'Gross_Vehicle_Weight','Airbags','Door_Ajar_Warning','EBD_(Electronic_Brake-force_Distribution)',
               'Fasten_Seat_Belt_Warning','Gear_Shift_Reminder','Adjustable_Steering_Column','Other_Specs',
               'Parking_Assistance','Key_Off_Reminder','USB_Compatibility','Android_Auto','Apple_CarPlay',
               'Cigarette_Lighter','Infotainment_Screen','Multifunction_Steering_Wheel','Average_Speed',
               'EBA_(Electronic_Brake_Assist)','Seat_Height_Adjustment','Navigation_System','Second_Row_AC_Vents',
               'Tyre_Pressure_Monitoring_System','Rear_Center_Armrest','iPod_Compatibility','ESP_(Electronic_Stability_Program)',
               'Cooled_Glove_Box','Heated_Seats','Turbocharger','ISOFIX_(Child-Seat_Mount)','Rain_Sensing_Wipers',
               'Paddle_Shifters','Leather_Wrapped_Steering','Automatic_Headlamps','Engine_Type','ASR_/_Traction_Control',
               'Cruise_Control','Heads-Up_Display','Welcome_Lights'
               ] 
encoding_data=['Make','Model','Variant','Drivetrain',
                'Cylinder_Configuration','Emission_Norm',
                'Engine_Location','Fuel_System','Fuel_Type','Body_Type',
                'Front_Brakes','Rear_Brakes','Front_Suspension','Rear_Suspension',
                'Front_Tyre_&_Rim','Rear_Tyre_&_Rim','Power_Steering','Power_Windows','Power',
                'Torque','Odometer','Speedometer','Tachometer','Seats_Material','Type','Wheels_Size',
                'Audiosystem','Basic_Warranty','Boot-lid_Opener','Clock','Cup_Holders','Door_Pockets',
                'Extended_Warranty','Fuel-lid_Opener','Fuel_Gauge','Handbrake','Instrument_Console','Sun_Visor',
                'Third_Row_AC_Vents','Ventilation_System','Adjustable_Headrests','Airbags','Adjustable_Steering_Column',
                'Other_Specs','Other_specs','Parking_Assistance','Infotainment_Screen','Multifunction_Steering_Wheel',
                'Seat_Height_Adjustment','Rear_Center_Armrest','Recommended_Tyre_Pressure','Heated_Seats','Engine_Type','Drive_Modes']

In [13]:
dimention={           
        'mm_unit':  ['Height','Length',
                    'Width','Ground_Clearance',
                    'Front_Track','Rear_Track','Wheelbase'
                    ],
           
        'litre_unit': ['Fuel_Tank_Capacity','Boot_Space'],
        
        'km_per_litre':['City_Mileage','Highway_Mileage','ARAI_Certified_Mileage'],

        'kilogram':['Kerb_Weight','Gross_Vehicle_Weight'],

        'dim_less':['Gears','Compression_Ratio','USB_Ports']
}

In [14]:

labelE=['Tripmeter','Start_/_Stop_Button','12v_Power_Outlet',
        'Aux-in_Compatibility','Average_Fuel_Consumption',
        'Bluetooth','CD_/_MP3_/_DVD_Player','Central_Locking',
        'Child_Safety_Locks','Distance_to_Empty','Engine_Malfunction_Light',
        'FM_Radio','Low_Fuel_Warning','Multifunction_Display',
        'Auto-Dimming_Rear-View_Mirror','Hill_Assist','Gear_Indicator',
        '3_Point_Seat-Belt_in_Middle_Rear_Seat','Ambient_Lightning','Cargo/Boot_Lights',
        'Engine_Immobilizer','High_Speed_Alert_System','Lane_Watch_Camera/_Side_Mirror_Camera',
        'Passenger_Side_Seat-Belt_Reminder','Seat_Back_Pockets','Voice_Recognition',
        'Walk_Away_Auto_Car_Lock','ABS_(Anti-lock_Braking_System)','Headlight_Reminder',
        'Door_Ajar_Warning','EBD_(Electronic_Brake-force_Distribution)','Fasten_Seat_Belt_Warning',
        'Gear_Shift_Reminder','Key_Off_Reminder','USB_Compatibility','Android_Auto','Apple_CarPlay',
        'Cigarette_Lighter','Average_Speed','EBA_(Electronic_Brake_Assist)','Navigation_System','Second_Row_AC_Vents',
        'Tyre_Pressure_Monitoring_System','iPod_Compatibility','ESP_(Electronic_Stability_Program)','Cooled_Glove_Box',
        'Turbocharger','ISOFIX_(Child-Seat_Mount)','Rain_Sensing_Wipers','Paddle_Shifters',
        'Leather_Wrapped_Steering','Automatic_Headlamps','ASR_/_Traction_Control','Cruise_Control',
        'Heads-Up_Display','Welcome_Lights','Power_Seats','Keyless_Entry'
        ]

In [15]:

mean_data=['Cylinders','Valves_Per_Cylinder','Fuel_Tank_Capacity',
'Height','Width','City_Mileage',
'Highway_Mileage','ARAI_Certified_Mileage','ARAI_Certified_Mileage_for_CNG',
'Kerb_Weight','Gears','Ground_Clearance',
'Front_Track','Rear_Track','Wheelbase',
'Boot_Space','Minimum_Turning_Radius','Gross_Vehicle_Weight',
'Compression_Ratio','USB_Ports','Battery',
'Electric_Range','Ex-Showroom_Price','Displacement'
]

In [16]:
median_data=['Cylinders','Doors',
            'Seating_Capacity','Number_of_Airbags'
            ]

removin columns

In [17]:
# labelE.remove()
# median_data.remove()
# mean_data.remove()
# dimention['dim_less'].remove()
# dimention['mm_unit'].remove()
# dimention['litre_unit'].remove()
# dimention['km_per_litre'].remove()
# dimention['kilogram'].remove()
# catagory_col.remove('Clock')
# encoding_data.remove('Clock')
# data3.pop('Clock')

0       Digital
1       Digital
2       Digital
3       Digital
4       Digital
         ...
1271    Digital
1272    Digital
1273    Digital
1274    Digital
1275    Digital
Name: Clock, Length: 1276, dtype: object

filling the missing values in dataset

In [18]:
for col in catagory_col:
  data3[col]=data3[col].fillna('unknown')

# **conversion of numerical data from string to integer**

removing all units to form int

In [19]:
# for data 3 

for col in dimention['mm_unit']:
  data3[col]=data3[col].str.replace("mm","")
  data3[col]=pd.to_numeric(data3[col],errors='coerce')


for col in dimention['litre_unit']:
  data3[col]=data3[col].str.replace("litres","")
  data3[col]=pd.to_numeric(data3[col],errors='coerce')

for col in dimention['km_per_litre']:
  data3[col]=data3[col].str.replace("km/litre","")
  data3[col]=pd.to_numeric(data3[col],errors='coerce')

for col in dimention['kilogram']:
  data3[col]=data3[col].str.replace("kg","")
  data3[col]=pd.to_numeric(data3[col],errors='coerce')

for col in dimention['dim_less']:
  data3[col]=pd.to_numeric(data3[col],errors='coerce')

 #special cases
data3['Displacement']=data3['Displacement'].str.replace("cc","")
data3['Displacement']=pd.to_numeric(data3['Displacement'],errors='coerce')

data3['ARAI_Certified_Mileage_for_CNG']=data3['ARAI_Certified_Mileage_for_CNG'].str.replace("km/kg","")
data3['ARAI_Certified_Mileage_for_CNG']=pd.to_numeric(data3['ARAI_Certified_Mileage_for_CNG'],errors='coerce')

data3['Minimum_Turning_Radius']=data3['Minimum_Turning_Radius'].str.replace("meter","")
data3['Minimum_Turning_Radius']=pd.to_numeric(data3['Minimum_Turning_Radius'],errors='coerce')

data3['Electric_Range']=data3['Electric_Range'].str.replace("km/full charge","")
data3['Electric_Range']=pd.to_numeric(data3['Electric_Range'],errors='coerce')

data3['Battery']=data3['Battery'].str.replace("ampere-hour","").str.replace("kWh,Battery Placed Under Rear Seats","").str.replace("(kWh), Lithium Ion","").str.replace(" kWh* Advanced Li-ion polymer, liquid cooled battery pack with IP67 certification","").str.replace("","").str.replace("(kWh), Lithium Ion","")
data3['Battery']=pd.to_numeric(data3['Battery'],errors='coerce')

#for data 2 removing units
data3['Ex-Showroom_Price']=data3['Ex-Showroom_Price'].str.replace("Rs.","").str.replace(",","")
data3['Ex-Showroom_Price']=pd.to_numeric(data3['Ex-Showroom_Price'],errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: FutureWarning: The default value of regex will change from True to False in a future version.

filling missing values with mean and median

In [20]:
# for data 3 converting to mean

for col in mean_data:
  data3[col]=data[col].fillna(data3[col].mean())

for col in median_data:
  data3[col]=data3[col].fillna(data3[col].median())

# **DATA 2**

this data consist of the features (ex-showroom price)

In [21]:
data2=data3.pop('Ex-Showroom_Price')

## **one hot encoding on data frame**

In [22]:
data3 = pd.get_dummies(data3, columns =encoding_data )

label encoding

In [23]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

for col in labelE:
  data3[col]=le.fit_transform(data3[col])

importing ML models

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

from sklearn.ensemble import RandomForestRegressor

In [25]:
x=np.array(data3)
y=np.array(data2)

# **splitting into training and test set**

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=0)

# calculate r^2
from sklearn.metrics import r2_score

# **fitting all models with the data**

LINEAR REGRESSION MODEL

In [27]:

lr=LinearRegression()

lr.fit(x_train,y_train)

LinearRegression()

DECISON TREE

In [28]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)

DecisionTreeRegressor()

RANDOM FOREST REGRESSION

In [29]:
rfr=RandomForestRegressor(n_estimators= 15, random_state=0)
rfr.fit(x_train,y_train)

RandomForestRegressor(n_estimators=15, random_state=0)

# **visualisation of results bu ML models**

for linear regression model

In [30]:
LRpred=lr.predict(x_test)

In [31]:
r2_score(y_test,LRpred)

0.8804908805811372

support vector regression model

In [32]:
sr=SVR(kernel='rbf')
sr.fit(x_train,y_train)

SVR()

In [33]:
SRpred=sr.predict(x_test)

In [34]:
r2_score(y_test,SRpred)

-0.06627121968219551

decision tree model

In [35]:
DTpred=dt.predict(x_test)

In [36]:
r2_score(y_test,DTpred)

0.6566218947661291

Random forest regression model

In [37]:
RFRpred=rfr.predict(x_test)

In [38]:
r2_score(y_test,RFRpred)

0.8429373158957819

POLYNOMIAL REGRESSION

In [39]:
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
pf=PolynomialFeatures(degree=2)
x_poly=pf.fit_transform(x_test)